<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <UI.Properties.Settings>
      <setting name="BaseCommission" serializeAs="String">
        <value>0.03</value>
      </setting>
    </UI.Properties.Settings>
  </applicationSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" >
    <namespace name="SalesCommissionCorrect.Calculators" />
    <namespace name="SalesCommissionCorrect.Interfaces" />
    <namespace name="SalesCommissionCorrect.baseClasses" />
    <namespace name="SalesCommissionCorrect.Processors" />


    <!--  The name of the assembly that ALL of it is contained in -->
    <assembly name="SalesCommissionCorrect" />

    <container>
      <register type="CommissionProcessor" name="Training" mapTo="TrainingCommissionProcessor" />
      <register type="CommissionProcessor" name="Normal" mapTo="DefaultCommissionProcessor" />
      <register type="CommissionProcessor" name="Level1" mapTo="Tier1CommissionProcessor" />
      <register type="CommissionProcessor" name="Level2" mapTo="Tier2CommissionProcessor" />
      <register type="CommissionProcessor" name="Level3" mapTo="Tier3CommissionProcessor" />
    </container>
  </unity>
</configuration>